# Clé de chiffrement
key.key
/master.hash

# Données sensibles
passwords.json

# Python
__pycache__/
*.py[cod]
*.pyo

# Tests
.pytest_cache/
.coverage
htmlcov/

# Environnements virtuels
.venv/
venv/
env/

# IDE
.vscode/
.idea/
